.DS_Store
node_modules
/dist
build
/dist_electron/lisa_sim
h5_reader.spec
__pycache__
/dist_electron/index.js
/dist_electron/preload.js
/dist_electron/package.json
/dist_electron/bundled
/dist_electron/builder-effective-config.yaml
/dist_electron/win-unpacked
/dist_electron/*.exe*
/dist_electron/builder-debug.yml
/dist_electron/latest.yml